/*all styles for the media queries example*/

body {
  /*center it*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*visual quality*/
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
}

#mobile {
  display: none;
}
#fullwidth {
  display: block;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
  #mobile {
    display: block;
  }

  #fullwidth {
    display: none;
  }
} 
