/*all styles for the media queries example*/

body {
  /*center it*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*visual quality*/
  font-size: 16px;
  background-color: #333;
  color: #aaa;
  font-family: 'Courier New', Courier, monospace;
}